  <div class="row">
	  <div class="small-1 columns" style="width: 10%;" >
	   &nbsp;
	  </div>
  	  <div class="small-4 columns" >
	   		<h3> Current Order Details </h3>
	  </div>
	  <div class="small-1 columns" >
	   &nbsp;
	  </div>
</div>


<div class="row">
  <div class="small-1 columns" style="width: 10%;" >
   &nbsp;
  </div>
   <div class="small-8 columns" >
		  <ul class="accordion" data-accordion data-allow-all-closed="true">
		  	  <% unless @cartItems.nil? || @cartItems.empty? %>
			  <li class="accordion-item " data-accordion-item>
			    <!-- Accordion tab title -->
			    <a href="#" class="accordion-title"><h5>Cart</h5></a>

			    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
			    <div class="accordion-content" data-tab-content>
			    	 <%= render partial: "current_items", locals: {items: @cartItems, item_type: "boards"}  %>
			    </div>
			  </li>
			  <% end %>
		  </ul>
   </div>
   <div class="small-1 columns" >
	   &nbsp;
   </div>
<<<<<<< HEAD
</div>



  <div class="row">
	  <div class="small-1 columns" style="width: 10%;" >
	   &nbsp;
	  </div>
  	  <div class="small-3 columns" >
	   		<h5>Subtotal: <%= number_to_currency @subtotal %> </h5>
	   		<h5>Shipping: <%= number_to_currency @shipping %></h5>
	   		<h5>Grand Total: <%= number_to_currency(@shipping.to_f + @subtotal.to_f) %></h5>
	  </div>

	  <div class="small-2 columns" >
	  </br>
	  </br>

	   	<a href="#" class="button">Buy!</a>
	  </div>
	  

	  <div class="small-1 columns" >
	   &nbsp;
	  </div>
</div>









=======
</div>
>>>>>>> parent of c7dbea1... ajax is hard
