  <div class="row">
	  <div class="small-1 columns" style="width: 10%;" >
	   &nbsp;
	  </div>
  	  <div class="small-6 columns" >
	   		<h3> Current Order Details </h3>
	  </div>
	  <div class="small-1 columns" >
	   &nbsp;
	  </div>
</div>


<div class="row">
  <div class="small-1 columns" style="width: 10%;" >
   &nbsp;
  </div>
   <div class="small-8 columns" >
		  <%= render :partial => "cart_details" %>
   </div>
   <div class="small-1 columns" >
	   &nbsp;
   </div>
</div>



<%= render :partial => "cart_controls" %>










