
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"> <h4> Chess Warehouse </h4></li>
      <li class="verticalLine">
      </li>
      <li>
        <a href="/">Home</a>
      </li>
      <li><a href="/items">Shop</a></li>
      
    </ul>
  </div>

  <div class="top-bar-right">

    <ul class="menu">
         <% if logged_in? %>
            <% if customer? %>
                <li><a href="#"></a><i class="fa fa-shopping-cart fa-3x"></i></li>
            <% end %>
            <li> <%= link_to 'Logout', logout_path %> </li>
            <li>[<%= current_user.proper_name %>:<%= current_user.role %>]</li>
        <% else %>
            <div style="padding-top: 0.5cm; padding-right: 0.5cm"> <%= link_to 'Login', login_path %></div>
        <% end %>
    </ul>
  </div>
</div>


</br>
</br>








