  <div class="ct" id="t1">
  <div class="ct" id="t2">
  <div class="ct" id="t3">
  <div class="ct" id="t4">
<section>  
 <ul id="overlaylist">
  <div class="row">
      <div class="medium-1 columns"  style="height:55px;"     >
        <a href="#t1"><li class="icon fa" id="uno"><h3>A</h3></li></a>
     </div>
  </div>

  <div class="row">
      <div class="medium-1 columns"     style="height:55px;">
        <a href="#t2"><li class="icon fa" id="dos"><h3>B</h3></li></a>
      </div>
  </div>

  <div class="row">
      <div class="medium-1 columns"     style="height:55px;">

        <a href="#t3"><li class="icon fa" id="tres"><h3>C</h3></li></a>
      </div>
   </div>


   <div class="row">
      <div class="medium-1 columns"        style="height:55px;">
        <a href="#t4"><li class="icon fa" id="cuatro"><h3>D</h3></li></a>
      </div>
  </div>

 </ul>

  <div class="page" id="p2">
    <li class="icon fa"><span class="title">Type</span></li>
  </div>  
  <div class="page" id="p3">
    <li class="icon fa"><span class="title">Coffee</span></li>
  </div>
  <div class="page" id="p4">
   <li class="icon fa"><span class="title">Dribbble</span></li>
  </div>  

</section>
       
     </div>
     </div>
   </div>
  </div>
  