<% i = 0 %>
<% while(i < items.length) %>
  <div class="row">
      <div class="small-2 columns" style="width: 12.66667%;">
            &nbsp;
      </div>

    <% @item = items[i] %>
    <% i = i +1 %>
    <%= render partial: "partials/shop_list_cell", locals: {myitem: @item} %>

    <% @item = items[i] %>
    <% i = i +1 %>
    <%= render partial: "partials/shop_list_cell", locals: {myitem: @item} %>

    <% @item = items[i] %>
    <% i = i +1 %>
    <%= render partial: "partials/shop_list_cell", locals: {myitem: @item} %>

    <div class="small columns">
            &nbsp;
    </div>

  </div>
  </br>
<% end %>
<div class="row">
      <div class="small-1 columns" style="width: 12.66667%;">
            &nbsp;
      </div>
       <div class="small-9 columns" >
            <div class="digg_pagination " id="digg_pagination"><%= will_paginate items, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %> </div>
      </div>


<div class="small columns">
            &nbsp;
    </div>

  </div>