<div class="row">

  <div class="small-2 columns" style="width: 16%;">
      &nbsp;
  </div>
  

  <div class="small-4 columns">
      <h3> Search the Shop </h3>
  </div>

  <div class="small-3 columns">
    <input type="search" placeholder="search">
  </div>

  <div class="small-1 small-centered columns">
  </div>
</div>

</br>
  <%= render partial: "partials/shop_list", locals: {items: @active_items} %>


