<div class="row">

	<div class="medium-7 medium-centered columns">
	<h3> Hello Shipper</h3>
	</div>
</div>


<div class="row">

	<div class="medium-4 medium-centered columns">
		<%= image_tag("main1_done.jpg", :alt => "About Us") %> 
	</div>
</div>
 





</br>
</br>

<div class="row">
	<div class="medium-6 medium-centered columns">
		<p> The Chess Warehouse exists to serve schools with all their chess needs.
		Please feel free to reach out to us with any questions you have! </p>
		Enjoy the store! </p>
	</div>
</div>


