<div class="row">
    <div class="medium-6 columns">
        <h3 id="h3">About Us</h3>
        <body>
            <p>
               
                The Chess Store believes in the importance of scholastic chess.  To help support 
                scholastic chess, we make chess equipment available to schools and other educational 
                organizations at wholesale prices.  This chess equipment is only available to schools; 
                we do not sell to individuals.
            </p>
            </br>
            </br>
            <p> 
                Feel free to contact us at 412.268.2082 if you have any other questions! 
            </p>
        </body>
    </div>
    <div class="medium-6 columns">
        <%= image_tag("about_us.JPG", :alt => "About Us") %>
    </div>
</div>