<div class="row">
	<div class="medium-6 medium-centered columns">
		<h3 id="h3">Contact Us</h3>
		<body>
			<p>
				If you have any concerns feel free to call or email!
			</p>
			</br>
			<p> Phone: 412.268.2082 </p>
			 Email: <%= mail_to "abainbri@andrew.cmu.edu", "abainbri@andrew.cmu.edu", :encode => "javascript" %>
		</body>
	</div>
</div>
