 <% unless order.order_items.empty? %>
  <div class="panel clearfix">
    <h3>Order Items</h3>
    <table class="table table-striped">
    <thead>
      <tr>
        <th width="300">Name</th>
        <th width="100">Quantity</th>
        <th width="100">Ship Date</th>
      </tr>
    </thead>
    <tbody>
      <% order.order_items.each do |oi| %>
        <tr>
          <td><%= link_to oi.item.name, item_path(oi.item) %></td>
          <td><%= oi.quantity %></td>
          <% unless oi.shipped_on.nil? %>
          <td><%= oi.shipped_on.strftime('%m/%d/%y') %></td>
          <% else %>
            <td> <p> Not yet shipped </p> </td>
          <% end %>
          <% if shipper? && oi.quantity <= oi.item.inventory_level && oi.shipped_on.nil? %>
            <td> <%= link_to 'Ship Item', ship_path(oi), :class => 'button radius', remote:true  %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
<% end %>