<div class="row">
  <div class="small-1 columns" style="width: 10%;" >
   &nbsp;
  </div>
  <div class="medium-6 columns">
    <%= render :partial => "order_details" %>
  </div>
  <div class="medium-4 columns">
      <%= render :partial => "order_items" %>
  </div>
</div>