
<% if @boards.empty? && @pieces.empty? && @clocks.empty? && @supplies.empty? %>
  <h3>There are no items in the system at this time</h3>
<% else %>
  <h3>Available Items at the Chess Warehouse</h3>


  <ul class="accordion" data-accordion data-allow-all-closed="true">
	  
  	  <% unless @boards.empty? %>
	  <li class="accordion-item " data-accordion-item>
	    <!-- Accordion tab title -->
	    <a href="#" class="accordion-title">Boards</a>

	    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
	    <div class="accordion-content" data-tab-content>
	    	 <%= render partial: "current_items", locals: {items: @boards, item_type: "boards"}  %>
	    </div>
	  </li>
	  <% end %>
	  
	  <% unless @pieces.empty? %>
	  <li class="accordion-item " data-accordion-item>
	    <!-- Accordion tab title -->
	    <a href="#" class="accordion-title">Pieces</a>

	    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
	    <div class="accordion-content" data-tab-content>
	    	   <%= render partial: "current_items", locals: {items: @pieces, item_type: "pieces"} %>
	    </div>
	  </li>
	  <% end %>


	   <% unless @clocks.empty? %>
	  <li class="accordion-item " data-accordion-item>
	    <!-- Accordion tab title -->
	    <a href="#" class="accordion-title">Clocks</a>

	    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
	    <div class="accordion-content" data-tab-content>
	    	 <%= render partial: "current_items", locals: {items: @clocks, item_type: "clocks"} %>
	    </div>
	  </li>
	  <% end %>


	  <% unless @supplies.empty? %>
	  <li class="accordion-item " data-accordion-item>
	    <!-- Accordion tab title -->
	    <a href="#" class="accordion-title">Supplies</a>

	    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
	    <div class="accordion-content" data-tab-content>
	    	  <%= render partial: "current_items", locals: {items: @supplies, item_type: "supplies"} %>
	    </div>
	  </li>
	  <% end %>
  </ul>
 



  

 

<% end %>