<% unless @price_history.empty? %>
  <div class="panel clearfix">
    <h3>Price History</h3>
    <ul>
      <% @price_history.each do |change| %>
        <%= number_to_currency change.price %>&nbsp;&nbsp;&nbsp;(<%= change.start_date.strftime('%m/%d/%y') %>)<br />
      <% end %>
    </ul>

      <% @myflag = @item.active ? 'Yes' : 'No' %>
    <% if @myflag == 'Yes' %>
     <%= link_to(new_item_price_path(this_item_id: @item.id), id: 'new_price_link', class: 'button tiny radius', remote: true) do %>
      <i class="fa fa-clipboard"></i>
      &nbsp;Add New Price
      <% end %>
    <% end %>
    
     <div class="digg_pagination " id="digg_pagination"><%= will_paginate @price_history, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %> </div>

    
  </div>
<% end %>