<% unless @orders.empty? %>
  <div class="panel clearfix">
    <h3>Order History</h3>
    <ul>
      <% @orders.each do |order| %>
      	<% if ((!current_user.nil? && current_user.id == order.user_id) ||
           admin? || manager?) %>
        	<%= link_to 'Order Number ' + order.id.to_s , order_path(order)   %>
        	<br />
        <% else %>
        	<p> Order by another user </p>
        	
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>