

<div class="row">
  <div class="medium-8 medium-centered columns" >
    <h5>Schools</h5>
    
        <%= link_to(eval("new_school_path"), class: "button radius") do %>
          <i class="fa fa-plus"></i>
          &nbsp;Add a New School
        <% end %>
    
    <% unless @schools.nil? || @schools.empty? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th width="500">Name</th>
            <th width="500">Street 1</th>
            <th width="300">City</th>
          </tr>
        </thead>
        <tbody>
          <% @schools.each do |school| %>
            <tr>
              <td><%= link_to school.name, school_path(school) %></td>
              <td><%= school.street_1 %></td>
              <td><%= school.city %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>There are no active schools in our system at this time.</p>
    <% end %>
  </div>
</div>
