<div class="row">
  <div class="small-1 columns" style="width: 10%;" >
   &nbsp;
  </div>
  <div class="medium-6 columns">
    <%= render :partial => "school_details" %>
  </div>
  <div class="medium-4 columns">
    	<%= render :partial => "order_history" unless @orders.empty?%>
  </div>
</div>



<% if admin? || manager? %>
	<!-- Add buttons to list all, edit project or destroy object -->
	<%= render partial: "partials/object_options", locals: {model_name: "school", object: @school}  %>
<% end %>