/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 //= require overlay
 //= require incrementor
//= require foundation_and_overrides

 */


.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }



/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}










/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




.userCenter{
  text-align:center;
}

.loginCenter{
  text-align:center;
   a{
        color: white;
        font-size: 120%;
    }
}

.verticalLine {
  border-left: thick solid #ff0000;
  border-color: black;
}

 .top-bar{
    a{
        color: black;
        font-size: 120%;

    }
     background: url('/assets/chess_back.jpg') !important;

 }

/* controls the background of the right or left section where the nav links are */
.top-bar-section .right,
.top-bar-section .left {
  background: transparent !important;
}

.menu{
   background: transparent !important;
}

/* controls the backgrounds of the individual nav links */
.top-bar-section .right li:not(.has-form) a:not(.button),
.top-bar-section .left li:not(.has-form) a:not(.button) {
 background: transparent !important;
}

/* controls the backgrounds of the nav links with active class */
.top-bar-section .right li.active:not(.has-form) a:not(.button),
.top-bar-section .left li.active:not(.has-form) a:not(.button) {
  background: transparent !important;
}



$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #FFFFFF;



$image-hover-wrapper-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
$image-hover-wrapper-transition-delay: 0.25s;
$image-hover-wrapper-banner-width: 75%;
$image-hover-wrapper-banner-topspace: 25%;
$image-hover-wrapper-banner-bg: rgba(63, 63, 191 ,0.6);
$image-hover-wrapper-icon-size: 24px;

.image-hover-wrapper {
  position: relative;

 .myhover {
    display: inline-block;
    letter-spacing: normal;
    line-height: initial;
    margin: 0;
    padding: 0;
    position: relative;

    img {
      float: left;
      overflow: hidden;
      width: 100%;
    }

    .image-hover-wrapper-reveal {
      background-color: rgba(0, 0, 0, 0.5);
      color: $white;
      display: inline;
      height: 100%;
      margin-left: -100%;
      opacity: 0;
      position: absolute;
      width: 100%;
      z-index: 80;
      transition: $image-hover-wrapper-transition;
      transition-delay: $image-hover-wrapper-transition-delay;

      &:hover {
        opacity: 1;
        transition: $image-hover-wrapper-transition;
      }

      &:hover p {
        opacity: 1;
        transform: translateY(-100%);
        transition: $image-hover-wrapper-transition;
        transition-delay: $image-hover-wrapper-transition-delay;
      }

      p {
        bottom: 0;
        display: block;
        opacity: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        transition: $image-hover-wrapper-transition;
      }
    }

    .fa {
      font-size: $image-hover-wrapper-icon-size;
    }
  }

  .image-hover-wrapper-banner {
    background-color: $image-hover-wrapper-banner-bg;
    color: $white;
    font-weight: 600;
    left: 0;
    padding: 0.5rem;
    position: absolute;
    top: $image-hover-wrapper-banner-topspace;
    width: $image-hover-wrapper-banner-width;
    z-index: 10;
  }
}



#logo1{
	height: 80px;
	width: 80px;
	float: left;
	}





 .tl_name {
  width: 225px;
  display: block;
  position: absolute;
}

.tl_date {
  width: 65px;
  display: block;
  position: absolute;
  margin-left: 250px;
}

.tl_controls {
  width:  68px;
  display: block;
  margin-left: 330px;
}

.project_item {
  background-color: #d1ecfb;
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid blue;
  margin-top: 5px;
  margin-bottom: 10px;
}

.supertiny {
  font-size:5px;
  text-decoration:none;
}

.add_link {
  font-size:75%;
  font-style: normal;
  font-weight: normal;
}

#title_area {
  background-color: #ffffff;
}

#main_content {
  margin-top: 10px;
}

#footer {
  margin-top: 15px;
  padding-top: 0px;
  padding-bottom: 15px;
  background-color:#ffffff;
  color: #6493ba;
  text-align: center;
}

#footer a {
  color: #7f9eb8;
  text-decoration: none;
}

#footer a:hover {
  color: #7f9eb8;
  text-decoration: underline;
}

#copy {
  font-size: 85%;
}

table {
  border-collapse:collapse;
}

table th.centered, table td.centered {
    text-align: center;
}

.note {
  font-style: italic;
  font-size: 80%;
}
li.well {
  list-style-type: none;
  margin-left: -10px;
}

.pagination ul > li > a, .pagination ul > li > span {
  border-left-width: 1px;
}

label {
  padding-right: 4px;
}






$input-number-size: 60px;

.input-number-group {
  display: flex;
  justify-content: center;

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    appearance: none;
  }

  .input-group-button {
    line-height: calc(#{$input-number-size}/2 - 5px);
  }

  .input-number {
    width: $input-number-size;
    padding: 0 12px;
    vertical-align: top;
    text-align: center;
    outline: none;
    display: block;
    margin: 0;
  }

  .input-number,
  .input-number-decrement,
  .input-number-increment {
    border: 1px solid $medium-gray;
    height: $input-number-size/2;
    user-select: none;
    border-radius: 2px;
  }

  .input-number-decrement,
  .input-number-increment {
    display: inline-block;
    width: $input-number-size/2;
    background: $light-gray;
    color: $black;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
  }

  .input-number-decrement {
    margin-right: 0.3rem;
  }

  .input-number-increment {
    margin-left: 0.3rem;
  }
}



